<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="/js/jms.js" type="text/javascript"></script>
    <title>Setting page</title>
</head>
<body onload="go()">
<form th:action="@{/setting/saveSettings}" action="#" th:object="${mailSetting}" method="post">
    <table>
        <tr>
            <td>Host:</td>
            <td><input type="text" th:field="*{host}" required="required"/></td>
        </tr>
        <tr>
            <td>User name:</td>
            <td><input type="text" th:field="*{userName}" required="required"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input id="password" type="password" th:field="*{password}" required="required"/></td>
            <td><button id="show-button" onclick="show()" type="button">Show password</button> </td>
        </tr>
        <tr>
            <td>Port:</td>
            <td><input type="number" th:field="*{port}" required="required" /></td>
        </tr>
        <tr>
            <td>SmtpAuth:</td>
            <td><input type="checkbox" th:field="*{smtpAuth}" /></td>
        </tr>
        <tr>
            <td>StartTls:</td>
            <td><input type="checkbox" th:field="*{starttls}" /></td>
        </tr>
        <tr>
            <td>From email:</td>
            <td><input type="email" th:field="*{from}" required="required" /></td>
        </tr>
        <tr>
            <td>From name:</td>
            <td><input type="text" th:field="*{fromName}" required="required" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit post</button></td>
        </tr>
    </table></form>
</body>
</html>