<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>All Subscriber Group</title>
    <script src="/js/jms.js" type="text/javascript"></script>

</head>
<body onload="go()">
<h1>All group are here</h1>
<table>
    <form id="form" th:action="@{/setting/edit-group}" method="get">
        <tr th:each="group: ${groupList}">
            <td><input id="whatToDo" name="whatToDo" hidden="hidden" type="checkbox"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <label th:text="${group.groupName}"/></td>
            <td>
                <button name="id" th:value="${group.subscriberGroupId}">
                    Edit
                </button>
            </td>
            <td>
                <button onclick="checkThat()" id="deleteGroup" name="id" th:value="${group.subscriberGroupId}">
                    Delete
                </button>
            </td>
        </tr>
    </form>
</table>
</body>
</html>