<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="setting/settings.html">
    <button>Setting</button>
</a>
<a href="users.html">
    <button>Users</button>
</a>
<a href="setting/add-user.html">
    <button>add user</button>
</a>
<a href="/mail/add-mail-template.html">
    <button>add mail template</button>
</a>
<a href="mail/mail-templates.html">
    <button>Mail templates</button>
</a>
<a href="mail/send-mails.html">
    <button>Send emails</button>
</a>
<a href="login.html">
    <button>login</button>
</a>
<a href="logout.html">
    <button>logout</button>
</a>
<a href="setting/add-subscriber-group.html">
    <button>Add Subscriber Group</button>
</a>
<a href="setting/subscriber-group-list.html">
    <button>All subscriber group</button>
</a>
<a href="subscribers">
    <button>All subscribers</button>
</a>
<a href="/exit">
    <button>Close Application</button>
</a>
</body>
</html>