<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="/js/jms.js" type="text/javascript"></script>
    <title>Title</title>
</head>
<body onload="go()">

<h1>All mail templates are here</h1>
<div th:if="${mailTemplateList} == null">
    <a href="/mail/add-mail-template">
        <button type="button">Add mail template</button>
    </a>
</div>
<table>
    <form id="form" th:action="@{/mail/edit-mail-template}" method="get">
        <tr th:each="mail: ${mailTemplateList}">
            <td><input id="whatToDo" name="whatToDo" hidden="hidden" type="checkbox"/>
                <label th:text="${mail.subject}"/></td>
            <td>
                <button name="id" th:value="${mail.mailId}">
                    Edit
                </button>
            </td>
            <td>
                <button onclick="checkThat()" id="deleteMailTemplate" name="id" th:value="${mail.mailId}">
                    Delete
                </button>
            </td>
        </tr>
    </form>
</table>
</body>
</html>