<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Send email</title>
</head>
<body>
<form th:action="@{/mail/send}" method="post">
    <table>
        <tr>
            <td>
                <h4>Select group to sending email:</h4>
                <select name="subscriberList">
                    <option th:each="var :${subscriberGroup}"
                            th:value="${var.subscriberGroupId}"
                            th:text="${var.groupName}"
                    ></option>
                </select>
            </td>
            <td>
                <h4>Select mail Template:</h4>
                <select name="template">
                    <option th:each="var :${mailTemplate}"
                            th:value="${var.mailId}"
                            th:text="${var.subject}"
                    ></option>
                </select>
            </td>
            <td>
                <h4>Select sending way:</h4>
                <label for="oneToOne">Send one to one:</label>
                <input id="oneToOne" type="radio" name="oneToOne" value="true"/>
                <label for="oneToAll">Send one to all:</label>
                <input id="oneToAll" type="radio" name="oneToOne" value="false"/>
            </td>
        </tr>
    </table>
    <button>Send</button>
</form>
</body>
</html>