<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <script>
        function confirmation(){
            confirm("Do you really want to delete")?alert():document.getElementById('delete').href = "/subscribers/subscriber-list";
        }
    </script>
    <title>List of subscribers</title>
</head>
<body>
<h1>All subscribers is here</h1>
<table>
    <thead>
    <tr>
        <th>
            Full name
        </th>
        <th>
            Email
        </th>
        <th>
            Subscribe group
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subscriber : ${subscribers}">
        <td><span th:text="${subscriber.fullName}"></span></td>
        <td><span th:text="${subscriber.email}"></span></td>
        <td><span th:text="${subscriber.group.groupName}"></span></td>
        <td><a th:href="@{/subscribers/edit-subscriber(id=${subscriber.subscriberId})}">
            <button class="edit">Edit</button>
        </a>
            <br />
            <a id="delete" th:href="@{/subscribers/delete-subscriber(id=${subscriber.subscriberId})}">
                <button onclick="confirmation()" class="delete">Delete</button>
            </a></td>
    </tr>
    </tbody>
</table>
<a href="/subscribers/add-subscriber">
    <button type="button">Add Subscriber</button>
</a>
</body>
</html>